@import "assets/colors";

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: $bg;
}

body {
  color: $default;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
